body{
	background-color:rgb(230,230,250);
	margin-right:10%;
	margin-left:10%;
	width:80%;
}
h1{
color:rgb(70,130,180);
}
table, td, th
{
border:0px;
background:transparent;
}
A:link {text-decoration: underline}
A:visited {text-decoration: underline;}
A:active {text-decoration:underline;}
A:hover {font-size:18; font-weight:bolder; color: rgb(0,139,139);}
